<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">FAQ
                <small>Frequently Asked Questions</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li class="active">FAQ</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseOne" href="">
                                What kind of results can be expected from the crime scene investigation process?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            

A crime scene investigation should provide detailed documentation of the condition of the scene and a collection of evidentiary items that can be analyzed to assist the investigation. As forensic technologies and laboratory techniques continue to improve and become more sophisticated, the value of the trace and biological evidence that is collected at a scene has increased enormously. This is especially true in the case of DNA evidence. Learn more about DNA ▸ With DNA profiling, even the smallest amounts of biological evidence can be used to link an individual to a crime scene.

However, unlike popular TV shows where the evidence is processed and the perpetrator is quickly brought to justice, the criminal investigation process takes time. The initial crime scene investigation is just the beginning of what could be a lengthy process.

It is important to remember that while the physical evidence collected at the scene can reveal numerous powerful facts in the case, the case investigator also relies on other types of evidence including eyewitness testimony to piece together the full picture of the crime.

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseTwo" href="">
                                How is quality control and quality assurance performed?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            

Each step of a crime scene investigation, from the initial scene survey to the submission of evidence to the forensic laboratory, is designed to ensure a thorough, high-quality investigation.

As a final quality assurance step before taking down the crime tape and releasing the scene, a debriefing is conducted to ensure the investigation of the area is complete. During this review, the team discusses the evidence that was collected, any notable findings, the laboratory tests that may be required, the order in which evidence should be tested and any post-scene responsibilities.

The lead investigator then directs a walk-through to visually inspect each area, ensuring that all collected evidence is accounted for and any materials or conditions that may pose hazards are addressed.

One crucial aspect of quality assurance for physical evidence is chain of custody. Ensuring a seamless chain of custody helps make certain that all evidence was handled properly and there was no opportunity for tampering to occur. It is imperative that a seamless chronological record be created indicating each person who takes possession of a piece of evidence, the duration of custody and the security of the storage conditions. If this chain is broken at any time or can be shown to have gaps, the value of the evidence could be diminished at trial.

Once evidence is submitted to the forensic laboratory, there are policies and procedures in place governing the facilities and equipment, methods and procedures, and analyst qualifications and training. Depending on the state in which it operates, a crime laboratory may be required to achieve accreditation to verify that it meets quality standards. There are two internationally recognized accrediting programs focused on forensic laboratories: The American Society of Crime Laboratory Directors Laboratory Accreditation Board and ANSI-ASQ National Accreditation Board / FQS.

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseThree" href="">
                                Are there any misconceptions or anything else about crime scene investigation that would be important to the non-scientist?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
Due to the popularity of crime scene television dramas, misconceptions abound regarding this area of forensic investigation. For example, crime scene personnel usually don’t also work in the forensic laboratory as well. The depiction of a crime scene investigator retrieving the evidence, whisking it back to the lab for analysis and solving the crime is far from reality. In addition, analysts routinely specialize in one particular area of examination. A DNA analyst won’t likely be called to examine fingerprints, for example. In addition, the majority of crime scenes investigated are not of a high-profile nature, like a homicide case. Investigators spend the majority of their time collecting evidence from scenes of burglaries, robberies or lesser crimes. Crime scene investigation is definitely not a glamorous activity, unlike how it is often portrayed in popular culture.

While some of the crime scene techniques seen on television are inaccurate or overdramatized, new tools are continually being introduced to allow crime scene personnel to more thoroughly examine, discover and recover evidence from a scene. The advent of alternate light sources has helped technicians find biological evidence much more easily, and the introduction of 3D-laser scanning technology has made it much easier to thoroughly and accurately document crime scenes. But even with these advanced tools and technology, crime scene investigation relies primarily on the skills and knowledge of the investigators and forensic scientists involved.

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseFour" href="">What are the limitations of the crime scene investigation process?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            

The portrayal of crime scenes in the popular media may provide the impression that every scene is an orderly, perfectly secured area that can be thoroughly scoured for every piece of crucial evidence. In reality, crime scenes can be emotionally charged or even chaotic. In the case of outdoor scenes, inclement weather conditions can quickly damage evidence and create additional challenges for the investigator.

While a thorough examination of the scene can reveal much about what transpired, the evidence must first be analyzed by a forensic scientist in a laboratory setting before conclusive facts can be determined. In addition, just because DNA or fingerprints are collected at the scene, an investigation may not be able to identify the perpetrator if there are no suspects or this information doesn’t match any existing profiles available in law enforcement databases.

The ability of investigators to collect certain evidence may also be limited if, by collecting one type of evidence, they must compromise another. For example, swabbing a knife found near the victim at a murder scene for blood or DNA could potentially destroy latent fingerprints present on the knife.

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseFive" href="">
                                Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis
                                vitae at risus?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseSix" href="">
                                Aenean consequat lorem ut felis ullamcorper?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseSeven">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseEight">
                                Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis
                                vitae at risus?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseNine">
                                Aenean consequat lorem ut felis ullamcorper?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- /.container -->