<!--<footer id="site-footer">
		<div class="footer">
				<div class="copyright">
       	 			<p>
        				<a href="#/">
        					Copyright © 2018 Dani Karna
        				</a>
        			</p>
    			</div>
		</div>
	</footer>-->

    <footer class="footer-bottom">
            <div class="container">
                <div class="container">
                    <span class="copy">© Dani Karna | Design &amp; Developed By <a href="http://www.asharn.com" target="_blank">AshArn</a></span>
                </div>
            </div>
        </footer>

<!--<div class="upScroll" style="display: block;"><i class="icon-up-open"></i></div>-->