<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Blog
                <small>Blog Homepage</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li class="active">Blog</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-1">
            <p><i class="fa fa-camera fa-4x"></i>
            </p>

            <p>Mar 15, 2018</p>
        </div>
        <div class="col-md-5">
            <a href="#">
                <img src="images/dna1.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-md-6">
            <h3><a href="#">Connecting DNA to Your Surname</a>
            </h3>

            <p>by <a href="#">Dani Karna</a>
            </p>
            <h4></h4>
            <p>You probably already know that your DNA is unique, but did you know that it could eventually reveal your surname? For those who are familiar with the concept of genetic fingerprinting, you might be interested to know that the laboratory responsible for developing this technique now thinks that the technique can be developed even more, which will allow them to find out the surnames of men.
            </p>
            <h4>New Genetic Links</h4>
            <p>In a recent study, it was found that from a pool of over twenty-five hundred men – all with different surnames – the men who had the same surname had a greater chance of being linked up genetically.
            </p>
            <a class="btn btn-primary" href="" data-target="#postfirst" data-toggle="collapse">Read More <i class="fa fa-angle-right"></i></a>
            </div>
            <div id="postfirst" class="collapse">
            <h4>Understanding Genetic Fingerprinting</h4>
            <p>The way this new technique works is through isolation of the Y chromosome of the man's DNA. If you think about how a surname is passed on through generations, you can better understand that this technique works in a similar way.

This Y chromosome is passed on through the male line, with little variation. Then, researchers can do a computer check in an enormous database of forty thousand names. With some names being centuries old, there still remains an approximately quarter chance that it can be matched. If researchers can establish a link between a man's surname and Y chromosome, the door is opened to basically construct an entire family tree.

Where the name is a relatively rare one, there is an even higher chance of finding a match – up to eight-seven percent. These matches will, of course, be genetically linked as well as linked through surnames. It's an interesting tool and is generally an area that has received little attention in terms of research in previous years. If properly developed and refined, however, it could have a number of useful, practical applications for forensic science.</p>
<h4>Using Surname Techniques</h4>
<p>One hope is that this new research can be of great aid to genealogists or perhaps even the police force during a crime investigation. In this way, DNA could be taken directly from the crime scene and then investigators might be able to determine a potential surname for the culprit.

Once they have a potential surname, they can use other pieces of evidence to try to narrow in on a suspect. Of course, using other pieces of evidence is key here as nobody is expecting this new technique to be used alone, despite its apparent usefulness in criminal investigations.

Another benefit is that it could help to immediately direct an investigation and send police workers in the right direction to identify a suspect. Keeping in mind that the rarer surnames make it more likely to find a match, this technique will probably prove more successful in this area.</p>
<h4>Challenges Of The Technique</h4>
<p>Still, if a person is adopted, this could always be an issue. Also important to take into account is that many people still obtain name changes, which could confuse a police investigative team. This means that the technique – while potentially useful – would clearly have to be used as a tool in conjunction with other means of criminal investigation.</p>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-1">
            <p><i class="fa fa-film fa-4x"></i>
            </p>

            <p>May 24, 2013</p>
        </div>
        <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div>
        <div class="col-md-6">
            <h3><a href="blog-post.html">A Blog Home </a>
            </h3>

            <p>by <a href="#">Start Blogging</a>
            </p>

            <p>Write something</p>
            <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-md-1">
            <p><i class="fa fa-file-text fa-4x"></i>
            </p>

            <p>May 24, 2013</p>
        </div>
        <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div>
        <div class="col-md-6">
            <h3><a href="blog-post.html">A Blog Home</a>
            </h3>

            <p>by <a href="#">Start Blog 3</a>
            </p>

            <p>Blog for more details</p>
            <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <hr>

    <div class="row">

        <ul class="pager">
            <li class="previous"><a href="#">&larr; Older</a>
            </li>
            <li class="next"><a href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>

</div>
<!-- /.container -->